body {
	background-color: #b3cdd1;
}
#calculator {
	border: 2px solid gray;
	width: 200px;
	box-shadow: 2px 2px 10px 9px white;
	border-radius: 4px;
	width: auto;
	margin-top: 10%;
	background-color: white;
}

.calc-display {
	font-size: 2em;
	font-weight: 200;
	background-color: #c6cfca;
	padding: 6px;
	text-align: right;
	border: 2px solid gray;
}

.calc_keyboard {
	font-size: 2em;
	font-weight: 300;
	padding: 10px;
	text-align: center;
}

.number {
	border: 1px solid gray;
}

.operator {
	border: 1px solid gray;
}
.clear {
	border: 1px solid gray;
}

.simpleCalc {
	width: Auto;
	margin-top: 25px;
	color: white;
	border: 1px solid black;
}
